# Count Threshold

In [1]:
import graphlab as gl

In [3]:
sf = gl.SFrame({'a' : [1,2,3,2,3], 'b' : [2,3,4,2,3]})
sf

Columns:
	a	int
	b	int

Rows: 5

Data:
+---+---+
| a | b |
+---+---+
| 1 | 2 |
| 2 | 3 |
| 3 | 4 |
| 2 | 2 |
| 3 | 3 |
+---+---+
[5 rows x 2 columns]

In [10]:
thresholder = gl.feature_engineering.CountThresholder(threshold=2)

In [11]:
thresholder.fit_transform(sf)

Columns:
	a	int
	b	int

Rows: 5

Data:
+------+------+
|  a   |  b   |
+------+------+
| None |  2   |
|  2   |  3   |
|  3   | None |
|  2   |  2   |
|  3   |  3   |
+------+------+
[5 rows x 2 columns]

In [13]:
sf = gl.SFrame({'categories': [['cat', 'mammal'],
                                         ['cat', 'mammal'],
                                         ['human', 'mammal'],
                                         ['seahawk', 'bird'],
                                         ['duck', 'bird'],
                                         ['seahawk', 'bird']]})
sf

Columns:
	categories	list

Rows: 6

Data:
+-----------------+
|    categories   |
+-----------------+
|  [cat, mammal]  |
|  [cat, mammal]  |
| [human, mammal] |
| [seahawk, bird] |
|   [duck, bird]  |
| [seahawk, bird] |
+-----------------+
[6 rows x 1 columns]

In [14]:
thresholder = gl.feature_engineering.CountThresholder(threshold=2)
thresholder.fit_transform(sf)

Columns:
	categories	list

Rows: 6

Data:
+-----------------+
|    categories   |
+-----------------+
|  [cat, mammal]  |
|  [cat, mammal]  |
|  [None, mammal] |
| [seahawk, bird] |
|   [None, bird]  |
| [seahawk, bird] |
+-----------------+
[6 rows x 1 columns]

In [15]:
sf = gl.SFrame({'attributes':
                [{'height':'tall', 'age': 'senior', 'weight': 'thin'},
                 {'height':'short', 'age': 'child', 'weight': 'thin'},
                 {'height':'giant', 'age': 'adult', 'weight': 'fat'},
                 {'height':'short', 'age': 'child', 'weight': 'thin'},
                 {'height':'tall', 'age': 'child', 'weight': 'fat'}]})
sf

Columns:
	attributes	dict

Rows: 5

Data:
+-------------------------------+
|           attributes          |
+-------------------------------+
| {'age': 'senior', 'weight'... |
| {'age': 'child', 'weight':... |
| {'age': 'adult', 'weight':... |
| {'age': 'child', 'weight':... |
| {'age': 'child', 'weight':... |
+-------------------------------+
[5 rows x 1 columns]

In [16]:
thresholder = gl.feature_engineering.CountThresholder(threshold=2)
thresholder.fit_transform(sf)

Columns:
	attributes	dict

Rows: 5

Data:
+-------------------------------+
|           attributes          |
+-------------------------------+
| {'age': None, 'weight': 't... |
| {'age': 'child', 'weight':... |
| {'age': None, 'weight': 'f... |
| {'age': 'child', 'weight':... |
| {'age': 'child', 'weight':... |
+-------------------------------+
[5 rows x 1 columns]